<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default.html" lang="en">

<body>

<div layout:fragment="content">
    <h3 th:text="${message}"></h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In euismod neque ut quam placerat tristique.
        Duis sodales, lorem eu dignissim venenatis, leo ligula cursus augue, ac gravida est nisl ut massa.
        Cras quis euismod tellus.
        Aliquam eros mauris, aliquam facilisis velit sit amet, cursus rutrum libero.
        Integer lacinia sed magna at vehicula. Etiam pellentesque, urna ut malesuada malesuada, lacus justo pretium ante,
        at pharetra orci sapien in tortor. Nulla facilisi. Duis egestas condimentum risus in varius.
        Vestibulum sodales dolor ipsum, non pretium eros commodo quis. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Morbi vestibulum luctus feugiat. Pellentesque ultrices dictum nulla,
        sed ullamcorper ipsum. Cras sed ultricies est, sit amet blandit diam. Duis sodales ligula ac sodales vestibulum.
        Morbi mattis ultricies mauris, auctor varius mauris vehicula nec.
    </p>

</div>

</body>
</html>